/* ----------------RESETS----------------- */


/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Removes default margin */
*:not(dialog) {
    margin: 0;
}

/* Enables Keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html{
           interpolate-size: allow-keywords;
    }
}

body {
    /* accessible line-height */
    line-height: 1.5;
    /* improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* inherit fonts from form controls */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overflows  */

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* improve line wrapping  */
p {
    text-wrap: pretty;
}

/* create a root stacking context */
#root, #__next {
    isolation: isolate;
}


/* ----------HEADER NAVIGATION STYLES--------------- */
header {
    /* position: sticky;
    top: 0; */
    display: flex;
    justify-content: center;
    background-color: aqua;
    
}

/* .header-wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;


} */




nav {
    display: flex;
    gap: 1rem;
}

.rest-nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 4rem;

}

.home-button {
    display: block;
    padding: 1.1rem 0.6rem;
    

}

.home-button:hover {
 background-color: orange;
    border-radius: 100px;

}


ul {

   
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: orange;
    padding: 1rem 3.5rem;
    border-radius: 50px;


}

li:hover {
    transform: scale(1.2);
    transition: 2ms ease-in-out;
    background-color: rgba(255, 166, 0, 0.8);
    
}

/* a:hover {
    transition: 3ms ease-in;
    transform: scaleX(1.2);
} */

a {
    color: orangered;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.5px;

}


/* MAIN CONTENT */
.index-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: rgba(137, 43, 226, 0.705) ;
    text-shadow: 0px 3px 6px orange;
    font-size: 26px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 3%;
}
 .lumi-wrap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
 }

.lumi-des {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    
}

.lumi-title {
    display: flex;
    justify-content: center;
    background-color: deepskyblue;
    padding: 2rem 0;
    margin: 0 45rem;
    border-radius: 20px;
}

.lumi-origin {
    display: flex;
    justify-content: center;
    margin: 0 30rem;
    padding: 1rem;
    background-color: lightblue;
    border-radius: 20px;

}









.lumi-pic {
    margin: auto;
}

.theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 60px;
    margin: 4rem;
}










/* ---------MEDIA QUERIES */
@media (max-width: 100vh) {
    header {
    

    }

    .header-wrapper {
        display: flex;
        justify-content: center;
        
    }
    nav {
        display: flex;
        flex-direction: column;
        gap: 0;
        
    }
    li {
        padding: 1rem;
    }
    body {
        display: block;
        flex-wrap: wrap;
    }
    
    .rest-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        margin: 1.5rem;
        
    }

    .home-button {
        margin: auto;
    }

    .theme-toggle{
        margin: 3.5rem;
    }


    .section {
        display: flex;
        flex-wrap: wrap;
    }
    
    .lumi-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .lumi-title {
        margin: auto;
        padding: 1rem;
    }
    .lumi-origin {
        margin: auto;
        padding: auto;
    }



    
}